---
layout: default
---
<div class="box">

The <b>DIPC Community Seminars</b> series aims to strengthen the internal communication within the center and
    to provide a complete view of our scientific activity. Within this series, all junior (Fellows) and senior
    scientists of DIPC will have the opportunity to share their science with the rest of the DIPC community.
<p>Speakers are encouraged to convey a broad context of their work, in order to maximize the engagement in the ensuing
    discussion. We encourage in particular the attendance of PhD students and postoctoral researchers, as a way to
    get a broader picture of the local scientific activity and learn about scientific topics aside from their own
    research work.
<p>Seminars will take place every other Thursday at noon in the DIPC Lecture Hall (and for time being also accessible
    via Zoom). The format will be about 45 min (+15 min discussion). The series started
    in 2022 and we plan to run it for at least for the next three years, thus enabling talks by all DIPC scientists.
<p>The next scheduled talks can be found <a href="{{ site.baseurl }}/next_event">here</a> and the
    archive of past talks <a href="{{ site.baseurl }}/archive">here</a>.
<p>The seminar series is organized by <a href="mailto:marek.grzelczak@dipc.org">Marek Grzelczak</a>, 
<a href="mailto:geza.giedke@dipc.org">Geza Giedke</a> and <a href="mailto:david.desancho@ehu.eus">David De Sancho</a>. 
   If you have questions or suggestions, please contact us via e-mail.
</div>

<div class="box">
    <h1 class="post-title">{{ page.title }}</h1>
    <hr/>
    <div class="content"><span class="post-text">{{ content }}</span></div>
</div>
